# aws:
#   access_key_id: 123
#   secret_access_key: 345

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: long-string-of-random-hex-characters

elastic_cloud:
  cloud_id: "My_Cluster:Cloud_ID"
  user: "elastic"
  password: "My_Password"
  scheme: "https"
  host: "my-hostname.us-central1.gcp.cloud.es.io"
  port: "9243"

elastic_apm:
  secret_token: "my-apm-token"

users:
  a-user: "my-password"
  b-user: "my-password"
